//
   Created by hyku on 2016/12/3.

div.row(style="max-height: 100%;")
    div.row
        div.col-md-3
            div.panel-default
                div.panel-heading
                    h4.panel-title 问题类别
                        span.pull-right.glyphicon.glyphicon-plus(ng-click="updateClass()",
                        ng-show="$state.includes('frame.home.base.super')")
                div.panel-body
                    div.panel.panel-default(ng-repeat="class in data.classes")
                        div.panel-heading(ng-click="data.expandedClass=class.id; data.expandedEntry=null; loadEntries(class.id)")
                            h4.panel-title {{ class.name }}
                                span.glyphicon.glyphicon-remove.pull-right(ng-click="deleteClass(class)",
                                ng-if="$state.includes('frame.home.base.super')")
                                span.glyphicon.glyphicon-edit.pull-right(ng-click="updateClass(class)",
                                ng-if="$state.includes('frame.home.base.super')")
                        div.panel-body.collapse(uib-collapse="data.expandedClass!=class.id")
                            table.table.table-hover
                                tr
                                    th 名称
                                    td {{ class.name }}
                                tr
                                    th 描述
                                    td {{ class.description }}
                                tr
                                    th 图标
                                    td
                                        img(width="40", height="40", ng-src="{{ class.logo }}")
        div.col-md-3
            div.panel-default
                div.panel-heading
                    h4.panel-title 入口
                        span.pull-right.glyphicon.glyphicon-plus(ng-click="updateEntry(data.expandedClass)",
                        ng-show="data.expandedClass && $state.includes('frame.home.base.super')")
                div.panel-body
                    div.panel.panel-default(ng-repeat="entry in data.entries")
                        div.panel-heading(ng-click="data.expandedEntry=entry.id; loadQuestions(entry.id)")
                            h4.panel-title {{ entry.name }}
                                span.glyphicon.glyphicon-remove.pull-right(ng-click="deleteEntry(entry)",
                                ng-if="$state.includes('frame.home.base.super')")
                                span.glyphicon.glyphicon-edit.pull-right(ng-click="updateEntry(data.expandedClass, entry)",
                                ng-if="$state.includes('frame.home.base.super')")
                        div.panel-body.collapse(uib-collapse="data.expandedEntry!=entry.id")
                            table.table.table-hover
                                tr
                                    th 名称
                                    td {{ entry.name }}
        div.col-md-6
            div.panel-default
                div.panel-heading
                    h4.panel-title 问题
                        span.pull-right.glyphicon.glyphicon-plus(ng-click="updateQuestion(data.expandedEntry)",
                        ng-show="data.expandedEntry && $state.includes('frame.home.base.super')")
            div.panel-body(ng-show="$state.includes('frame.home.base.super')")
                form(name="form", ng-submit="editConclusion(selectionMap)")
                    div.form-group.question-wrapper(ng-repeat="question in data.questions",
                    ng-class="questionClass(question)", ng-init="selectionMap[question.id] = []")
                        div.hover-actions
                            span.remove-btn.glyphicon.glyphicon-remove(ng-click="deleteQuestion(question)")
                            span.edit-btn.glyphicon.glyphicon-edit(ng-click="updateQuestion(data.expandedEntry, question)")
                        div(question-input="", question="question", ng-model="selectionMap[question.id]")
                    div.form-group
                        input.btn.btn-primary(type="submit", value="编辑结论",
                        ng-show="data.questions && data.questions.length>0")
            div.panel-body(ng-show="!$state.includes('frame.home.base.super')")
                form(name="form", ng-submit="search(selectionMap)")
                    div.form-group.question-wrapper(ng-repeat="question in data.questions",
                    ng-class="questionClass(question)", ng-init="selectionMap[question.id] = []")
                        div(question-input="", question="question", ng-model="selectionMap[question.id]")
                    div.form-group
                        input.btn.btn-primary(type="submit", value="查询",
                        ng-show="data.questions && data.questions.length>0")
